<title>{%block title%}{%endblock%}</title>
{%block static%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
crossorigin="anonymous">
<script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
{%endblock%}
{%block navbar%}
<nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <h1 class="navbar-brand font-weight-bold"><span style="color: green;">USHAURI</span><span style="color: red;">KE</span></h1>
</nav>
{%endblock%}
<body>
    {%block content%}
    {%endblock%}
</body>
</html>